/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
	--text_0: hsl(0, 0%, 95%);
	--text_1: hsl(0, 0%, 10%);
	--text_2: hsl(0, 0%, 20%);

	--bg_0: hsl(0, 0%, 100%);
	--bg_1: hsl(40, 20%, 90%);;
	--bg_2: hsl(39, 8%, 61%);
	--bg_3: hsl(42, 5%, 37%);

	--primary: #8e38ff;
	--secondary: #52e9d0;
	--highlight: hsl(0, 0%, 0%);
	--primary_3: #dfb948;
	--primary_4: #ff9d9d;
	--error: #d52424;

	--spacer-xs: 0.5rem;
	--spacer-sm: 1rem;
	--spacer-md: 1.75rem;
	--spacer-lg: 2.75rem;
	--spacer-xl: 4rem;
	--spacer-2xl: 5.75rem;

	--border-md: 2rem;
	--border-sm: 1rem;

	--font--title: Cormorant, serif;
	--font--heading: Italiana, serif;
	--font--body: Raleway, sans-serif;

	/* Min-width 800px */
	--font-xs: calc(0.35vw + 0.55rem);
	--font-sm: calc(0.60vw + 0.55rem);
	--font-md: calc(0.85vw + 0.55rem);
	--font-lg: calc(1.15vw + 0.55rem);
	--font-xl: calc(1.60vw + 0.55rem);
	--font-2xl: calc(2vw + 0.55rem);
	--font-h1: calc(3.5vw + 0.75rem);
	--font-h2: calc(3vw + 0.75rem);
	--font-h3: calc(2.5vw + 0.75rem);
	--font-h4: calc(2vw + 0.75rem);
}

body {
	background-color: var(--bg_0);
	color: var(--text_1);

	font-family: var(--font--body);
	font-size: var(--font-md);
	line-height: 1.5;
	letter-spacing: 0.02em;

	width: 100vw;
	max-width: 100%;
	overflow-x: hidden;
}

::selection {
	background: var(--highlight);
	color: var(--text_0);
}
::-moz-selection {
	background: var(--highlight);
	color: var(--text_0);
}

svg {
	stroke: currentColor;
	stroke-width: 1;
	fill: none;
	stroke-linejoin: round;
}

.position-absolute {
	position: absolute;
}

.section-title {
	font-size: var(--font-h2);
	margin: 0 auto;
	margin-bottom: calc(1.5vw + 1rem);
	text-align: center;
	font-family: var(--font--heading);
}

span {
	display: flex;
}

button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg_3);
	box-shadow: 4px 6px var(--bg_2);

	font-family: var(--font--body);
	border: none;
	border-radius: 0.4rem;
	font-weight: 700;
	margin: 1rem;
	padding: 0.75rem 1.25rem;
}


.hidden {
	visibility: hidden;
}